@page "/result"

@using ChartJs.Blazor.Charts

<h1>アンケート結果</h1>
<input id="text" type="text" @bind="@year_month" />
<button @onclick="GetData">取得</button>

@if (json == null)
{
    <p>年月を入力して取得ボタンを押してください。</p>
}
else
{
    <p>@json.Type</p>
    <br />

    <h4>@json.Question1.Question</h4>
    <ChartJsBarChart @ref="_q1Chart" Config="@_q1Config" />
    <table border="1" width="500">
        @foreach (var Answer in json.Question1.Answer)
        {
            <tr><td width="50">@Answer.Votes 票</td><td>@Answer.Answer</td></tr>
        }
    </table>
    <br />


    <h4>@json.Question2.Question</h4>
    @foreach (var Answer in json.Question2.Answer)
    {
        <table border="1" width="500">
            <tr><th width="45">@Answer.Reason.Length 票</th><th>@Answer.Name</th></tr>

            @foreach (var Reason in Answer.Reason)
            {
                if (string.IsNullOrEmpty(@Reason))
                {
                    <tr><td colspan="2"><br /></td></tr>
                }
                else
                {
                    <tr><td colspan="2">@Reason</td></tr>
                }
            }
        </table>
        <br />
    }


    <h4>@json.Question3.Question</h4>
    <table border="1" width="500">
        @foreach (var Answer in json.Question3.Answer)
        {
            <tr><td>@Answer</td></tr>
        }
    </table>
    <br />

    <h4>@json.Question4.Question</h4>
    <table border="1" width="500">
        @foreach (var Answer in json.Question4.Answer)
        {
            <tr><td>@Answer</td></tr>
        }
    </table>
    <br />

    <h4>@json.Question5.Question</h4>
    <ChartJsPieChart @ref="_q5Chart" Config="@_q5Config" />
    <br />
}